.AvaArrow {
  background-color: aquamarine;
  min-width: 20px;
  min-height: 20px;
  /* clip-path: polygon(0% 80%, 80% 80%, 80% 100%, 100% 50%, 80% 0%, 80% 20%, 0 20%); */
  clip-path: polygon(0 50%, 20% 100%, 20% 80%, 100% 80%, 100% 20%, 20% 20%, 20% 0%);
}