.ItemBox {
  border: 1px solid gray;
  border-radius: 5px;
}

.BoxItems {
  border: 1px solid darkgray;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 1px;
  padding-right: 1px;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
}

.BoxItems:hover {
  background-color: aquamarine
}

.BoxItems.selected {
  box-sizing: border-box;
  border: 3px solid gray;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: aquamarine;
}